* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.noGutters {
    margin: 0 !important;
    padding: 0 !important;
}

.latestProductWrap {
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}


.latestProductWrap a {
    text-decoration: none;
}

.latestProductWrap .card figure {
    width: 100%;
    height: 100%;
}



@media only screen and (min-width: 1200px) {


    .latestProductWrap h4 {
        color: #000;
        font-size: 22px;
    }

    .latestProductWrap h5 {
        color: #000;
        font-size: 17px;
    }

    .latestProductWrap .linkWrap{
        padding: 10px 0;
    }

    .latestProductWrap .card {
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 992px) {

 

    .latestProductWrap h4 {
        color: #000;
        font-size: 20px;
    }

    .latestProductWrap h5 {
        color: #000;
        font-size: 17px;
    }

    .latestProductWrap .linkWrap{
        padding: 10px 0;
    }

    .latestProductWrap .card {
        margin-bottom: 25px;
    }

}

@media only screen and (max-width: 992px) {


    .latestProductWrap h4 {
        color: #000;
        font-size: 18px;
    }

    .latestProductWrap h5 {
        color: #000;
        font-size: 15px;
    }

    .latestProductWrap .linkWrap{
        padding: 10px 0;
    }

    .latestProductWrap .card {
        margin-bottom: 20px;
    }

}