.BuyComponentComponent {
    width: 100%;
    height: 100%;
}
.BuyComponentComponent form{
   display: flex;
   flex-direction: column;
}

.BuyComponentComponent .buyItemdetails {
    display: flex;
    justify-content: space-between;
}

.BuyComponentComponent .buyItemdetails div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.BuyComponentComponent .buyItemdetails p {
    display: flex;
    align-items: center;}
.BuyComponentComponent .buyItemdetails figure {
    width: 110px;
    height: 100%;
}

.BuyComponentComponent .buyItemdetails figure img {
    width: 100%;
    height: 100%;
}