.cardWrap a {
    text-decoration: none;

}

.productCardWrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardWrap {
    margin-bottom: 30px;
}

.productCardWrap figure {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.productCardWrap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;

}


.productCardLinkWrap:hover .productBorder img {
    transform: scale(1.3);
}


.productBorder {
    border: 1px solid #a3adb7;
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-radius: 10px;
    background: #fff;
}


.productDetails {
    background: #f3f3f3;
    border-radius: 5px;
    padding: 10px;

}

.productDetails .brandName {
    font-size: 14px;
    font-weight: 500;
    color: #6b7b8b;

}

.productDetails .productName {
    font-size: 17px;
    font-weight: 600;
    color: #000000;
}


.priceWrap .currentPrice {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding-right: 10px;
}

.priceWrap .actualPrice {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    text-decoration:red line-through;
}



@media (min-width: 716px) {
    .productCardWrap figure {
        width: 100%;
        height: 300px;
    }

}

@media (min-width: 992px) {

    /* .productCardWrap figure {
        width: 100%;
        height: 290px;
        overflow: hidden;
    } */



    /* .productCardWrap figure {
        width: 100%;
        height: 230px;
    } */

    .productDetails .brandName {
        font-size: 17px;


    }

    .productDetails .productName {
        font-size: 20px;

    }

    .priceWrap .currentPrice {
        font-size: 15px;
        padding-right: 15px;
    }
    
    .priceWrap .actualPrice {
        font-size: 14px;
    }
    .productBorder {
        padding: 10px;
    }

    .productDetails .brandName {
        font-size: 15px;
        font-weight: 500;
        color: #6b7b8b;
    
    }
    
    .productDetails .productName {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
    }
    .productDetails {
        padding: 10px 20px;
    
    }

}


@media (min-width: 1100px) {
    .productCardWrap figure {
        width: 270px;
        height: 270px;
    }

}

